* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navigation {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start-section {
  flex: 8;
  display: flex;
  flex-direction: column;
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.randomize,
.reset {
  flex: 2;
}
.title-battleship {
  font-family: "Lexend";
  font-size: 35px;
}
.title-battleship + p {
  font-family: "Lexend";
  font-size: 20px;
}
.randomize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.randomize > p {
  font-family: "Lexend";
  font-size: 25px;
  cursor: pointer;
}
.randomize > p:hover {
  text-decoration: black wavy underline;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset > p {
  font-family: "Lexend";
  font-size: 25px;
  cursor: pointer;
}
.reset > p:hover {
  text-decoration: black wavy underline;
}
.game-section {
  flex: 6;
  display: none;
  flex-direction: row;
}
.game-section > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.real-player-title,
.computer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.real-player-title > p,
.computer-title > p {
  font-size: 32px;
  font-family: "Lexend";
}
.board,
.computer-board {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board > div,
.computer-board > div {
  display: flex;
  flex-direction: row;
}
.board > div > div,
.computer-board > div > div {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.board > div > div  {
  cursor: not-allowed;
}
#drop {
  background-color: rgb(139, 185, 245);
}
#attack {
  background-color: gray;
}
#attackShip {
  background-color: rgba(235, 74, 74, 0.645);
}
.place-ships {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.place-ships > button {
  border: 1px solid black;
  background-color: white;
  font-size: 30px;
  font-family: "Lexend";
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
}
.game-board {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-board > div {
  display: flex;
  flex-direction: row;
}
.game-board > div > div {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.conclusion-section {
  flex: 7;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.conclusion-section > p {
  font-family: "Lexend";
  font-size: 40px;
}
.home-screen {
  font-family: "Lexend";
  font-size: 30px;
  padding: 8px;
  border: 0;
  background-color: rgba(0, 145, 255, 0.404);
  border-radius: 4px;
  cursor: pointer;
}