* {
  margin: 0;
  padding: 0;
}
.game-section {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navigation {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start-section {
  flex: 8;
  display: flex;
  flex-direction: row;
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.randomize,
.reset {
  flex: 2;
}
.title-battleship {
  font-family: "Lexend";
  font-size: 35px;
}
.title-battleship + p {
  font-family: "Lexend";
  font-size: 20px;
}
.randomize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.randomize > p {
  font-family: "Lexend";
  font-size: 25px;
  cursor: pointer;
}
.randomize > p:hover {
  text-decoration: black wavy underline;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset > p {
  font-family: "Lexend";
  font-size: 25px;
  cursor: pointer;
}
.reset > p:hover {
  text-decoration: black wavy underline;
}
.place-ships {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ships-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ships-title > p {
  font-family: "Lexend";
  font-size: 25px;
}
.ships {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.ships > div {
  display: flex;
  flex-direction: row;
  padding-left: 40%;
}
.ships > div > div {
  height: 35px;
  width: 35px;
  border: 1px solid rgb(58, 125, 226);
}
.initial-board {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.board-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-title > p {
  font-family: "Lexend";
  font-size: 25px;
}
.game-board {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.game-board > div {
  display: flex;
  flex-direction: row;
}
.game-board > div > div {
  height: 35px;
  width: 35px;
  border: 1px solid black;
}


